<body>
  <br />
  <br />

  <table>
    <tr>
      <td colspan="2">
        <p id="titulo">Administrador: {{ nombre_administrador }}</p>
      </td>
    </tr>
    <tr>
      <td>
        <form [formGroup]="EliminarCategoriaGroup" (ngSubmit)="eliminar()">
          <label>Categorias: </label>
          <select
            name="categorias"
            [(ngModel)]="categoria._id"
            [ngModelOptions]="{ standalone: true }"
          >
            <option
              [ngValue]="item._id"
              *ngFor="let item of categorias"
              [disabled]="item._id == '0'"
            >
              {{ item.nombre }}
            </option>
          </select>

          <button type="submit" title="Eliminar" name="Eliminar">
            Eliminar
          </button>
        </form>
      </td>
      <td>
        <form [formGroup]="AltaCategoriaGroup" (ngSubmit)="altacategoria()">
          <label>Nombre:</label>
          <input
            type="text"
            name="nombre"
            id="nombre"
            required
            formControlName="nombre"
          />
          <!-- dos input de cantidad de adultos y niños -->

          <label>Minutos de expiración: </label>
          <input
            class="inputnumber"
            type="number"
            id="minutosExpiracion"
            name="minutosExpiracion"
            min="1"
            max="10000"
            formControlName="minutosExpiracion"
          />

          <button type="submit" title="Agregar" name="Agregar">Agregar</button>

          <div id="titulo4" *ngIf="msg">
            <label> {{ msg }}</label>
          </div>
        </form>
      </td>
    </tr>

    <!--Grid column-->¨
    <tr>
      <td>
        <tr>
          <td id="titulo2" colspan="5">Lista de eventos</td>
        </tr>
        <tr>
          <th scope="col" id="titulo1">Usuario creador</th>
          <th scope="col" id="titulo1">Titulo</th>
          <th scope="col" id="titulo1">Activo</th>
          <th scope="col" id="titulo1">Categoria</th>
          <th scope="col" id="titulo1">Fecha de publicación</th>
        </tr>
        <tbody>
          <tr *ngFor="let evento of eventos">
            <td>{{ evento.usuario.user }}</td>
            <td>{{ evento.titulo }}</td>
            <td ng-if="evento.estaActivo">
              {{ evento.estaActivo }}
            </td>

            <td>{{ evento.categoria.nombre }}</td>
            <td>{{ evento.fechaPublicacion | date: 'dd/MM/yyyy hh:mm' }}</td>
          </tr>
        </tbody>
        <br />
      </td>
    </tr>
  </table>
</body>
